<%- 
include('components/head.ejs') 
-%>

	<script type="text/javascript" src="../js/account.js"></script>
</head>

<body>

<%- 
include('components/menu.ejs') 
-%>

<div class="content-wrap">
	<div class="content account">
		<div class="content-feed">
			<div class="content-submenu content-feed-sort" id="content-feed-sort">
				<p class="content-submenu-each active" value="posts">Posts</p>
				<p class="content-submenu-each" value="comments">Comments</p>
				<p class="content-submenu-each" value="saved">Saved</p>
				<p class="content-submenu-each" value="upvoted">Upvoted</p>
				<p class="content-submenu-each" value="downvoted">Downvoted</p>
			</div>
			<div id="content-account-feeds">
				<div class="content-feed-post active" id="content-feed-post-append">
					
				</div>
				<div class="content-feed-comments" id="content-feed-comments-append">
					
				</div>
				<div class="content-feed-saved" id="content-feed-saved-append">
					
				</div>
				<div class="content-feed-upvoted" id="content-feed-upvoted-append">
					
				</div>
				<div class="content-feed-downvoted" id="content-feed-downvoted-append">
					
				</div>
			</div>
		</div>
		<div class="content-intro">
			<div class="content-intro-banner">
				<img src="/images/banner.png">
				<div>
					<p>Username</p>
				</div>
				<div>
					<p>Description</p>
				</div>
				<hr>
				<div>
					<a href="/submit">Create Post</a>
				</div>
			</div>
		</div>
	</div>
</div>

<%- 
include('components/popup.ejs') 
-%>

<%- 
include('components/scroll.ejs') 
-%>

<script>

</script>

</body>

</html>