<%- 
include('head.ejs') 
-%>

<body>

<%- 
include('menu.ejs') 
-%>

<div class="content-wrap">
	<div class="content">
		<div class="content-feed">
			<div class="content-feed-create">
				<img src="/profile/1.jpg">
				<a href="/submit">Create Post</a>
			</div>
			<div class="content-feed-sort">
				<a href="#" class="active">
					<img src="/icons/best.svg">
					<p>Best</p>
				</a>
				<a href="#">
					<img src="/icons/fire.svg">
					<p>Controversial</p>
				</a>
				<a href="#">
					<img src="/icons/new.svg">
					<p>New</p>
				</a>
				<a href="#">
					<img src="/icons/time.svg">
					<p>Old</p>
				</a>
			</div>
			<div class="content-feed-post" id="content-feed-post-append">
				
			</div>
		</div>
		<div class="content-intro">
			<div class="content-intro-banner">
				<img src="/images/banner.png">
				<div>
					<img src="/images/snoo.png">
					<p>Home</p>
				</div>
				<div>
					<p>Your personal Reddit frontpage. Come here to check in with your favorite communities.</p>
				</div>
				<hr>
				<div>
					<a href="/submit">Create Post</a>
				</div>
			</div>
			<div class="content-intro-links">
				<div>
					<a href="#">User Agreement</a>
					<a href="#">Content Policy</a>
					<a href="#">Privacy Policy</a>
					<a href="#">Moderator Code Of Conduct</a>
				</div>
				<hr>
				<div>
					<a href="#">English</a>
					<a href="#">Deutsch</a>
					<a href="#">Français</a>
					<a href="#">Español</a>
					<a href="#">Italiano</a>
					<a href="#">Português</a>
				</div>
				<hr>
				<div>
					<p>Reddit Inc © 2023. All rights reserved</p>
				</div>
			</div>
			<div class="scroll-top" onclick="scrollerTop()">
				<p>Back to Top</p>
			</div>
		</div>
	</div>
</div>

<script>

document.addEventListener("DOMContentLoaded", function(event) { 

loadPosts()

});

</script>

</body>

</html>