<div class="menu" id="menu">
	<div class="menu-logo" id="menu-logo">
		<a href="/">
			<img src="/icons/icon-head.svg">
			<img src="/icons/icon-body.svg">
		</a>
	</div>
	<div class="menu-search" id="menu-search">
		<img src="/icons/search.svg">
		<input value="" placeholder="Search Reddit" type="text" id="search" name="search">
	</div>
	<div class="menu-user" id="menu-user">
		<div class="menu-options" id="menu-options">
			<button>
				<img src="/icons/bell.svg">
			</button>
			<button>
				<img src="/icons/add.svg">
			</button>
		</div>
		<div class="menu-profile" id="menu-profile">
			<div>
				<img src="/profile/1.jpg">
				<p>Tovape01</p>
			</div>
			<img src="/icons/arrow-down.svg">
			<div class="menu-profile-content">
				<div class="menu-section">
					<img src="/icons/account.svg">
					<p>My Stuff</p>
				</div>
				<div class="menu-option">
					<a href="#">Profile</a>
				</div>
				<hr>
				<div class="menu-section logout">
					<a href="#">
						<img src="/icons/logout.svg">
						<p>Log Out</p>
					</a>
				</div>
				<div class="menu-footer">
					<p>© 2023 Reddit Clone, Inc. All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
</div>