<div class="content-feed-post-each" id="1">
	<div class="post-each-votes">
		<img class="upvote" src="/icons/upvote.svg">
		<p class="votes">212</p>
		<img class="downvote" src="/icons/downvote.svg">
	</div>
	<div class="post-each-main">
		<div class="post-each-main-details">
			<img class="subreddit-icon" src="/icons/subreddit.svg">
			<p class="subreddit-name">r/Subreddit</p>
			<p>•</p>
			<p>Posted by <span><a style="display: inline;" href="./u/Tovape01">u/Tovape01</a></span></p>
			<p>•</p>
			<p>6 hours ago</p>
		</div>
		<div class="post-each-main-content">
			<p class="title">How can XANA possess humans?</p>
			<p class="description">
				XANA is a computer program that can possess objects from the real world. Weird but okay.
				XANA is a computer program that can possess humans. Weird but...no that is just weird.
				Can someone please give me an explanation on how this is possible, there is only so much that can suspend my belief. Even if its a theory.
			</p>
		</div>
		<div class="post-each-main-option">
			<div>
				<img class="comment" src="/icons/comment.svg">
				<p>23 Comments</p>
			</div>
			<div>
				<img class="award" src="/icons/award.svg">
				<p>Award</p>
			</div>
			<div>
				<img class="share" src="/icons/share.svg">
				<p>Share</p>
			</div>
			<div>
				<img class="save" src="/icons/save.svg">
				<p>Save</p>
			</div>
		</div>
	</div>
</div>