<%- 
include('components/head.ejs') 
-%>

	<script type="text/javascript" src="../js/search.js"></script>
</head>

<body>

<%- 
include('components/menu.ejs') 
-%>

<div class="content-wrap">
	<div class="content search">
		<div class="content-feed-post" id="content-feed-search-append">
				
		</div>
	</div>
</div>

<select name="sort" id="sort">
	<option value="0">Best</option>
	<option value="1">Controversial</option>
	<option value="2">New</option>
	<option value="3">Old</option>
</select>

<button onclick="searchSort()">Buscar</button>

<a id="anterior" href="">Anterior</a>

<a id="siguiente" href="">Siguiente></a>


<%- 
include('components/popup.ejs') 
-%>

</body>

</html>