<%- 
include('components/head.ejs') 
-%>

	<script type="text/javascript" src="../js/search.js"></script>
</head>

<body id="body">

<%- 
include('components/menu.ejs') 
-%>

<div class="content-wrap">
	<div class="content search">


		<div class="content-feed-sort" id="content-feed-sort">
			<a id="search-best" href="">
				<img src="/icons/best.svg">
				<p>Best</p>
			</a>
			<a id="search-cntr" href="">
				<img src="/icons/fire.svg">
				<p>Controversial</p>
			</a>
			<a id="search-new" href="">
				<img src="/icons/new.svg">
				<p>New</p>
			</a>
			<a id="search-old" href="">
				<img src="/icons/time.svg">
				<p>Old</p>
			</a>
		</div>
	
		<div class="content-feed-post" id="content-feed-search-append">
		</div>
		<div class="content-search-pagination">
			<a id="anterior" href="">< Previous</a>
			<a>-</a>
			<a id="siguiente" href="">Next ></a>
		</div>
	</div>
</div>

<%- 
include('components/popup.ejs') 
-%>

</body>

</html>