<!DOCTYPE HTML> 
<html lang="es-ES">

<head>
	<title>GraphQL</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
</head>

<body>
<br><br>
<a href="./">Home</a>
<a href="./login">Login</a>
<a href="./account">Account</a>
<a href="./submit">Submit</a>
<br><br>


<button onclick="function1()">Trocar</button>

</body>

</html>