<%- 
include('components/head.ejs') 
-%>

</head>

<body class="login-template">

<div class="content-login">
	<img src="/images/banner2.png">
	<div>
		<div>
			<h3>Log in</h3>
			<p>By continuing, you agree to our User Agreement and Privacy Policy</p>
		</div>
		<div>
			<label for="username">Username</label>
			<input value="Tovape" type="text" id="username" name="username">
			<label for="password">Password</label>
			<input value="ireland36" type="text" id="password" name="password">
			<button onclick="login()">Log in</button>
		</div>
		<div>
			<p>Forgot your username or password?</p>
			<p>New to Reddit? <a href="/signup">SIGN UP</a></p>
		</div>
	</div>
</div>

<%- 
include('components/popup.ejs') 
-%>

</body>

</html>