/* Media Query */

@media (max-width: 1500px) {
	
.container {
	max-width: 1100px;
}

}

@media (max-width: 1200px) {
	
.container {
	max-width: 1200px;
	padding: 0 40px;
	width: calc(100% - 80px);
}

}

@media (max-width: 1000px) {

.content {
	width: calc(100% - 40px);
	padding: 0 20px 20px 20px;
}

}

@media (max-width: 700px) {

.content {
	flex-direction: column-reverse;
}

.content > div:not(.post-each-full-comments) {
	min-width: none;
	width: 100%;
}

.menu .menu-logo a img:nth-child(2) {
	display: none;
}

.content-login > div > div > input {
    width: calc(100% - 20px);
}
	
.content-login > div > div > button {
    width: calc(100% - 80px);
}
	
}