<!DOCTYPE HTML> 
<html lang="es-ES">
	<link rel="icon" href="../files/icons/icon-head.svg" type="image/gif" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/elements.css">
	<link rel="stylesheet" type="text/css" href="../css/responsive.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
<head>
	<title>Reddit Clone</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<script type="text/javascript" src="../js/quicklink.umd.js"></script>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/global.js"></script>
